/* Page specific CSS stuff */



/* Footer special effects */

	/* Turn off link colors in the footer for a given page */
	body#david-snow-design-index section.navbar a#nav-home,
	body#david-snow-design-contact section.navbar a#nav-contact,
	body#tradera-selling-experience section.footer a#footer-tradera-selling-experience,
	body#tradera-my-tradera section.footer a#footer-tradera-my-tradera,
	body#tradera-buyer-protection section.footer a#footer-tradera-buyer-protection,
	body#ebay-star-wars section.footer a#footer-ebay-star-wars,
	body#ebay-design-ebay-com section.footer a#footer-ebay-design-ebay-com,
	body#ebay-global-grid section.footer a#footer-ebay-global-grid,
	body#turbotax-windows section.footer a#footer-turbotax-windows,
	body#turbotax-snaptax section.footer a#footer-turbotax-snaptax,
	body#turbotax-build-system section.footer a#footer-turbotax-build-system {
		color: #777;
		cursor: default;
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: color 0 ease-in;
		transition: none;
	}
	


/* Tradera selling experience */

	/* Header colors */
	body#david-snow-design-index div#tradera-selling-experience,
	body#tradera-selling-experience section div.portfolio-header {
		background-color: #373737;
	}
	body#david-snow-design-index div#tradera-selling-experience div h4,
	body#tradera-selling-experience section div.portfolio-header h4 {
		color: #000;
	}
	


/* Tradera My Tradera */

	/* Header colors */
	body#david-snow-design-index div#tradera-my-tradera,
	body#tradera-my-tradera section div.portfolio-header {
		background-color: #373737;
	}
	body#david-snow-design-index div#tradera-my-tradera div h4 {
		color: #fff;
	}
	body#tradera-my-tradera section div.portfolio-header h4 {
		color: #3f4a54;
	}



/* Tradera Buyer Protection */

	/* Header colors */
	body#david-snow-design-index div#tradera-buyer-protection,
	body#tradera-buyer-protection section div.portfolio-header {
		background-color: #373737;
	}
	body#david-snow-design-index div#tradera-buyer-protection div h4,
	body#tradera-buyer-protection section div.portfolio-header h4 {
		color: #429B66;
		}



/* Ebay Star Wars */

	/* Header colors */
	body#david-snow-design-index div#ebay-star-wars,
	body#ebay-star-wars section div.portfolio-header {
		background-color: #373737;
	}
	body#david-snow-design-index div#ebay-star-wars div h4,
	body#ebay-star-wars section div.portfolio-header h4 {
		color: #fff6f6;
	}



/* Ebay Design */

	/* Header colors */
	body#david-snow-design-index div#ebay-design-ebay-com,
	body#ebay-design-ebay-com section div.portfolio-header {
		background-color: #373737;
	}
	body#david-snow-design-index div#ebay-design-ebay-com div h4,
	body#ebay-design-ebay-com section div.portfolio-header h4 {
		color: #9d9582;
	}



/* Ebay Grid */

	/* Header colors */
	body#david-snow-design-index div#ebay-global-grid,
	body#ebay-global-grid section div.portfolio-header {
		background-color: #373737;
	}
	body#david-snow-design-index div#ebay-global-grid div h4,
	body#ebay-global-grid section div.portfolio-header h4 {
		color: #fff;
	}



/* Turbotax Windows */

	/* Header colors */
	body#david-snow-design-index div#turbotax-windows,
	body#turbotax-windows section div.portfolio-header {
		background-color: #373737;
	}
	body#david-snow-design-index div#turbotax-windows div h4 {
		color: #fff;
	}
	body#turbotax-windows section div.portfolio-header h4 {
		color: #fff;
	}



/* Turbotax Snaptax */

	/* Header colors */
	body#david-snow-design-index div#turbotax-snaptax,
	body#turbotax-snaptax section div.portfolio-header {
		background-color: #373737;
	}
	body#david-snow-design-index div#turbotax-snaptax div h4,
	body#turbotax-snaptax section div.portfolio-header h4 {
		color: #999;
	}



/* Turbotax Build */

	/* Header colors */
	body#david-snow-design-index div#turbotax-build-system,
	body#turbotax-build-system section div.portfolio-header {
		background-color: #373737;
	}
	body#david-snow-design-index div#turbotax-build-system div h4,
	body#turbotax-build-system section div.portfolio-header h4 {
		color: #000;
	}


/* 404 page */

	div.error-404 {
		padding: 2em 0 2.75em 0;
		text-align: center;
	}
	div.error-404 h1 {
		font-weight: 100;
		font-size: 5em;
		color: #D4C96A;
	}
		@media only screen and (max-width: 40em) { 
			div.error-404 h1 {
				font-size: 4.25em;
			}	
		}
	div.error-404 p {
		margin-bottom: .25em;
	}
	div.error-404 i.fi-arrow-down {
		font-size: 3em;
		display: block;
		padding-top: .1em;
		color: #D4C96A;
	}






